#Redes{
    #titulo_redes_sociales{
    color: rgb(230, 218, 218);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top:auto;
    }
  }

  #Redes {
      #facebook{
    margin-left:6%;
    border-style: outset;
    border-color: rgb(250, 244, 244);
    &:hover{
        border:solid rgb(109, 10, 10);
        border-radius:5px;
        transition:1.5s; 
        cursor: pointer;
        transform: scale(1.4);
     }
    }
      
    #instagram{ 
     margin-left:6%;
    border-style: outset;
    border-color: rgb(250, 244, 244);
    &:hover{
        border:solid rgb(109, 10, 10);
        border-radius:5px;
        transition:1.5s; 
        cursor: pointer;
        transform: scale(1.4);
     }
        
    }
    #twitter{ 
    margin-left:6%;
    border-style: outset;
     border-color: rgb(250, 244, 244);
     &:hover{
        border:solid rgb(109, 10, 10);
        border-radius:5px;
        transition:1.5s; 
        cursor: pointer;
        transform: scale(1.4);
     }
    }
    #youtube{ 
    margin-left:6%;
    border-style: outset;
    border-color: rgb(250, 244, 244);
    &:hover{
        border:solid rgb(109, 10, 10);
        border-radius:5px;
        transition:1.5s; 
        cursor: pointer;
        transform: scale(1.4);
     }
    }
  }
  #texto_footer{
      text-align: center;
      color: rgb(230, 218, 218);
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      margin-top: 5%;
      margin-left:10%;
  }

 